Repository openfun/marsha, pull requests merged in 2023-11, with the labels that each got.

#2497 ⬆️(frontend) update fork-ts-checker-webpack-plugin
  src/frontend/apps/standalone_site/package.json
  src/frontend/package.json
  src/frontend/yarn.lock
Labels: bug, easy pick, Frontend

#2508 🐛(lib-video) fix display issues with picture shared ressource in live
  CHANGELOG.md
  src/frontend/packages/lib_video/src/components/common/PictureInPictureLayer/PictureActionLayer/index.tsx
  src/frontend/packages/lib_video/src/components/common/PictureInPictureLayer/PictureInPictureElement/index.spec.tsx
  src/frontend/packages/lib_video/src/components/common/PictureInPictureLayer/PictureInPictureElement/index.tsx
  src/frontend/packages/lib_video/src/components/common/PictureInPictureLayer/PictureInPictureSwitchAction/index.tsx
  src/frontend/packages/lib_video/src/components/common/PictureInPictureLayer/index.tsx
  src/frontend/packages/lib_video/src/components/common/TeacherVideoInfoBar/index.tsx
  src/frontend/packages/lib_video/src/components/common/VideoInfoBar/index.tsx
  src/frontend/packages/lib_video/src/components/live/Student/StudentLiveStarter/StudentLiveWrapper/StudentLiveInfoBar/index.tsx
  src/frontend/packages/lib_video/src/components/live/Teacher/Wrapper/Controls/TeacherLiveRecordingActions/index.tsx
  src/frontend/packages/lib_video/src/components/live/Teacher/Wrapper/Controls/index.tsx
  src/frontend/packages/lib_video/src/components/live/common/JitsiControls/AudioControl/index.tsx
  src/frontend/packages/lib_video/src/components/live/common/JitsiControls/CameraControl/index.tsx
Labels: improvement, bug, Frontend

#2512 ♻️(lib_video) manage sharing error when one resource is already shared
  CHANGELOG.md
  src/frontend/packages/lib_video/src/api/useStartSharingMedia/index.ts
  src/frontend/packages/lib_video/src/components/common/VideoWidgetProvider/widgets/SharedLiveMedia/SharedLiveMediaItem/ToggleSharing/index.spec.tsx
  src/frontend/packages/lib_video/src/components/common/VideoWidgetProvider/widgets/SharedLiveMedia/SharedLiveMediaItem/ToggleSharing/index.tsx
Labels: improvement, easy pick, Frontend

#2517 🌐(i18n) update french translations
  docker-compose.yml
  src/backend/locale/es_ES/LC_MESSAGES/django.po
  src/backend/locale/fr_CA/LC_MESSAGES/django.po
  src/backend/locale/fr_FR/LC_MESSAGES/django.po
  src/frontend/apps/standalone_site/i18n/es_ES.json
  src/frontend/apps/standalone_site/i18n/fr_CA.json
  src/frontend/apps/standalone_site/i18n/fr_FR.json
  src/frontend/packages/i18n/es_ES.json
  src/frontend/packages/i18n/fr_CA.json
  src/frontend/packages/i18n/fr_FR.json
Labels: FUN Team

#2520 🔖(minor) bump release to 4.8.0
  CHANGELOG.md
  arnold.yml
  src/backend/setup.cfg
  src/frontend/apps/lti_site/package.json
  src/frontend/apps/standalone_site/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-marsha/package.json
  src/frontend/packages/lib_classroom/package.json
  src/frontend/packages/lib_common/package.json
  src/frontend/packages/lib_components/package.json
  src/frontend/packages/lib_markdown/package.json
  src/frontend/packages/lib_tests/package.json
  src/frontend/packages/lib_video/package.json
  src/frontend/packages/marsha-config/package.json
  src/tray/tray.yml
  src/webtorrent/package.json
Labels: FUN Team

#2521 🐛(frontend) wrong store with invite link
  CHANGELOG.md
  src/frontend/apps/standalone_site/src/features/App/AppRoutes.spec.tsx
  src/frontend/apps/standalone_site/src/features/Authentication/hooks/useAuthenticator.spec.tsx
  src/frontend/apps/standalone_site/src/features/Authentication/hooks/useAuthenticator.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/ClassRoom/components/Update/ClassRoomUpdate.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/ClassRoom/components/Update/ClassRoomUpdate.tsx
  src/frontend/packages/lib_components/src/hooks/stores/useJwt/index.spec.tsx
  src/frontend/packages/lib_components/src/hooks/stores/useJwt/index.ts
Labels: bug, Frontend
