Repository openfun/marsha, pull requests merged in 2023-03, with the labels that each got.

#2090 ♻️(docker) change USER management in Dockerfile
  Dockerfile
  Makefile
  docker-compose.yml
  docker/files/usr/local/bin/entrypoint
  docker/images/dev/Dockerfile
  src/backend/pylintrc
Labels: improvement

#2110 ⬆️(backend) bump social-edu-federation
  src/backend/setup.cfg
Labels: dependencies, Backend

#2113 🌐(i18n) update french translations
  src/backend/locale/es_ES/LC_MESSAGES/django.po
  src/backend/locale/fr_CA/LC_MESSAGES/django.po
  src/backend/locale/fr_FR/LC_MESSAGES/django.po
  src/frontend/apps/lti_site/i18n/es_ES.json
  src/frontend/apps/lti_site/i18n/fr_CA.json
  src/frontend/apps/lti_site/i18n/fr_FR.json
  src/frontend/apps/standalone_site/i18n/es_ES.json
  src/frontend/apps/standalone_site/i18n/fr_CA.json
  src/frontend/apps/standalone_site/i18n/fr_FR.json
  src/frontend/packages/i18n/es_ES.json
  src/frontend/packages/i18n/fr_CA.json
  src/frontend/packages/i18n/fr_FR.json
Labels: FUN Team

#2114 🔖(beta) bump release to 4.0.0-beta.17
  CHANGELOG.md
  arnold.yml
  src/aws/lambda-complete/package.json
  src/aws/lambda-configure/package.json
  src/aws/lambda-convert/package.json
  src/aws/lambda-elemental-routing/package.json
  src/aws/lambda-medialive/package.json
  src/aws/lambda-mediapackage/package.json
  src/aws/lambda-migrate/package.json
  src/aws/utils/update-state/package.json
  src/backend/setup.cfg
  src/frontend/apps/lti_site/package.json
  src/frontend/apps/standalone_site/package.json
  src/frontend/package.json
  src/frontend/packages/lib_classroom/package.json
  src/frontend/packages/lib_common/package.json
  src/frontend/packages/lib_components/package.json
  src/frontend/packages/lib_markdown/package.json
  src/frontend/packages/lib_tests/package.json
  src/frontend/packages/lib_video/package.json
  src/tray/tray.yml
Labels: FUN Team

#2118 🐛(frontend) fix rounded button style
  CHANGELOG.md
  src/frontend/packages/lib_common/src/theme.ts
Labels: bug, Frontend

#2120 🔖(beta) bump release to 4.0.0-beta.18
  CHANGELOG.md
  arnold.yml
  src/aws/lambda-complete/package.json
  src/aws/lambda-configure/package.json
  src/aws/lambda-convert/package.json
  src/aws/lambda-elemental-routing/package.json
  src/aws/lambda-medialive/package.json
  src/aws/lambda-mediapackage/package.json
  src/aws/lambda-migrate/package.json
  src/aws/utils/update-state/package.json
  src/backend/setup.cfg
  src/frontend/apps/lti_site/package.json
  src/frontend/apps/standalone_site/package.json
  src/frontend/package.json
  src/frontend/packages/lib_classroom/package.json
  src/frontend/packages/lib_common/package.json
  src/frontend/packages/lib_components/package.json
  src/frontend/packages/lib_markdown/package.json
  src/frontend/packages/lib_tests/package.json
  src/frontend/packages/lib_video/package.json
  src/tray/tray.yml
Labels: FUN Team

#2104 ✨(website) list lives on the website
  CHANGELOG.md
  src/frontend/apps/standalone_site/src/assets/svg/iko_live.svg
  src/frontend/apps/standalone_site/src/features/Contents/components/Contents/Contents.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/components/Contents/Contents.tsx
  src/frontend/apps/standalone_site/src/features/Contents/components/ContentsRouter/ContentsRouter.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/ClassRoom/components/Read/ClassRoomItem.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/LiveRouter.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/LiveRouter.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/Read/Live.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/Read/Live.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/Read/Lives.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/Read/Lives.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/index.tsx
  src/frontend/apps/standalone_site/src/features/Contents/index.tsx
  src/frontend/apps/standalone_site/src/routes/routes.tsx
Labels: feature, Frontend, Site

#2136 🐛(frontend) fix tooltip position on dashboard
  CHANGELOG.md
  src/frontend/packages/lib_common/src/index.ts
  src/frontend/packages/lib_common/src/utils.ts
  src/frontend/packages/lib_components/src/common/WidgetsContainer/InfoModal/index.spec.tsx
  src/frontend/packages/lib_components/src/common/WidgetsContainer/InfoModal/index.tsx
Labels: bug, easy pick, Frontend

#2148 ♻️(front) replace live occurences by webinar in the standalone site
  src/frontend/apps/standalone_site/src/features/Contents/components/Contents/Contents.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/components/Contents/Contents.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/Read/Live.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/Read/Lives.spec.tsx
  src/frontend/apps/standalone_site/src/features/Contents/features/Live/components/Read/Lives.tsx
  src/frontend/apps/standalone_site/src/routes/routes.tsx
Labels: improvement

#2087 🚧(feature) Update live sessions API permissions
  CHANGELOG.md
  src/backend/marsha/core/api/live_session.py
  src/backend/marsha/core/permissions.py
  src/backend/marsha/core/serializers/live_session.py
  src/backend/marsha/core/services/live_session.py
  src/backend/marsha/core/tests/api/live_sessions/test_create.py
  src/backend/marsha/core/tests/api/live_sessions/test_delete.py
  src/backend/marsha/core/tests/api/live_sessions/test_display_name.py
  src/backend/marsha/core/tests/api/live_sessions/test_list.py
  src/backend/marsha/core/tests/api/live_sessions/test_list_attendances.py
  src/backend/marsha/core/tests/api/live_sessions/test_push_attendance.py
  src/backend/marsha/core/tests/api/live_sessions/test_retrieve.py
  src/backend/marsha/core/tests/api/live_sessions/test_update.py
Labels: Backend
